<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender, log4net">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[PI:%property{X-ProcessId}][CI:%property{X-CorrelationId}][RI:%property{X-RequestId}] %date %-5level %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ColoredConsoleAppender" />
    </root>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICorrelationService" />
        <binding name="CorrelationWebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:60695/CorrelationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICorrelationService" contract="CorrelationService.ICorrelationService" name="BasicHttpBinding_ICorrelationService" />
      <endpoint address="http://localhost:60695/CorrelationWebService.asmx" binding="basicHttpBinding" bindingConfiguration="CorrelationWebServiceSoap" contract="CorrelationWebService.CorrelationWebServiceSoap" name="CorrelationWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>